.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  width: 10rem;
  height: 100%;
  overflow: auto; }
  .page .header-top {
    height: 5.3333333333vw;
    height: 0.5333333333rem;
    width: 100vw;
    width: 10rem;
    display: none; }
  .page .header {
    height: 11.7333333333vw;
    height: 1.1733333333rem;
    line-height: 11.7333333333vw;
    line-height: 1.1733333333rem;
    position: relative; }
    .page .header .back {
      position: absolute;
      width: 8vw;
      width: 0.8rem;
      height: 4.2666666667vw;
      height: 0.4266666667rem;
      background-image: url("icon/back.png");
      left: 1.3333333333vw;
      left: 0.1333333333rem;
      top: 3.7333333333vw;
      top: 0.3733333333rem;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center; }
      .page .header .back.c2 {
        background-image: url("icon/back2.png"); }

.layui-m-layerchild {
  background-color: transparent; }

.layer-select-user {
  width: 100vw;
  width: 10rem; }
  .layer-select-user .list {
    width: 100vw;
    width: 10rem; }
    .layer-select-user .list .item {
      width: 100vw;
      width: 10rem;
      height: 13.3333333333vw;
      height: 1.3333333333rem;
      background-color: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 4.8vw;
      font-size: 0.48rem;
      font-weight: 400;
      color: #383a3d;
      line-height: 6.6666666667vw;
      line-height: 0.6666666667rem;
      text-align: center;
      padding-top: 3.4666666667vw;
      padding-top: 0.3466666667rem;
      box-sizing: border-box; }
      .layer-select-user .list .item:last-child {
        border: none; }
  .layer-select-user .btn {
    width: 100vw;
    width: 10rem;
    height: 13.3333333333vw;
    height: 1.3333333333rem;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 4.8vw;
    font-size: 0.48rem;
    font-weight: 400;
    color: #383a3d;
    line-height: 6.6666666667vw;
    line-height: 0.6666666667rem;
    text-align: center;
    padding-top: 3.4666666667vw;
    padding-top: 0.3466666667rem;
    box-sizing: border-box;
    margin-top: 2.6666666667vw;
    margin-top: 0.2666666667rem; }

.layui-m-layercont {
  background-color: white; }

.layui-m-layercont2 {
  background-color: transparent; }

.page .header-top {
  background-color: whitesmoke; }
.page .header {
  text-align: center;
  background-color: whitesmoke;
  line-height: 0vw;
  line-height: 0rem; }
  .page .header .search {
    height: 7.4666666667vw;
    height: 0.7466666667rem;
    line-height: 7.4666666667vw;
    line-height: 0.7466666667rem;
    position: relative;
    top: 2.1333333333vw;
    top: 0.2133333333rem;
    display: inline-block;
    font-size: 0; }
    .page .header .search > * {
      vertical-align: middle;
      display: inline-block; }
    .page .header .search .input-box {
      position: relative; }
      .page .header .search .input-box .input {
        height: 7.4666666667vw;
        height: 0.7466666667rem;
        background: white;
        border-radius: 4.2666666667vw;
        border-radius: 0.4266666667rem;
        width: 73.3333333333vw;
        width: 7.3333333333rem;
        border: none;
        outline: none;
        padding-left: 9.8666666667vw;
        padding-left: 0.9866666667rem;
        font-size: 4.2666666667vw;
        font-size: 0.4266666667rem;
        padding-right: 7.4666666667vw;
        padding-right: 0.7466666667rem; }
      .page .header .search .input-box .icon-search {
        position: absolute;
        width: 3.7333333333vw;
        width: 0.3733333333rem;
        height: 3.7333333333vw;
        height: 0.3733333333rem;
        left: 4.2666666667vw;
        left: 0.4266666667rem;
        top: 1.8666666667vw;
        top: 0.1866666667rem;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("icon/search.png"); }
      .page .header .search .input-box .icon-close {
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 4.2666666667vw;
        width: 0.4266666667rem;
        height: 4.2666666667vw;
        height: 0.4266666667rem;
        right: 3.2vw;
        right: 0.32rem;
        top: 1.6vw;
        top: 0.16rem;
        position: absolute;
        background-image: url("icon/close.png");
        display: none; }
    .page .header .search .cancel {
      height: 5.8666666667vw;
      height: 0.5866666667rem;
      line-height: 5.8666666667vw;
      line-height: 0.5866666667rem;
      font-size: 4.2666666667vw;
      font-size: 0.4266666667rem;
      color: #1184d1;
      margin-left: 4.2666666667vw;
      margin-left: 0.4266666667rem;
      display: none; }
.page .header-bottom {
  width: 100vw;
  width: 10rem;
  height: 13.8666666667vw;
  height: 1.3866666667rem;
  overflow-x: scroll;
  background-color: whitesmoke; }
  .page .header-bottom .child {
    white-space: nowrap;
    height: 6.6666666667vw;
    height: 0.6666666667rem;
    line-height: 0vw;
    line-height: 0rem;
    font-size: 0;
    display: inline-block;
    position: relative;
    top: 3.7333333333vw;
    top: 0.3733333333rem;
    padding-right: 4.2666666667vw;
    padding-right: 0.4266666667rem; }
    .page .header-bottom .child .item {
      display: inline-block;
      position: relative;
      z-index: 10;
      height: 6.6666666667vw;
      height: 0.6666666667rem;
      vertical-align: middle;
      line-height: 6.6666666667vw;
      line-height: 0.6666666667rem;
      font-size: 4.8vw;
      font-size: 0.48rem;
      color: #6c717a;
      font-weight: 500;
      margin-left: 4.2666666667vw;
      margin-left: 0.4266666667rem; }
      .page .header-bottom .child .item:first-child {
        margin-left: 5.3333333333vw;
        margin-left: 0.5333333333rem; }
    .page .header-bottom .child.active span {
      color: #383a3d; }
    .page .header-bottom .child .bar {
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 1.6vw;
      height: 0.16rem;
      background-image: -webkit- linear-gradient(135deg, #1184d1 0%, #00b4f5 100%);
      background-image: -moz- linear-gradient(135deg, #1184d1 0%, #00b4f5 100%);
      background-image: -ms- linear-gradient(135deg, #1184d1 0%, #00b4f5 100%);
      background-image: -o- linear-gradient(135deg, #1184d1 0%, #00b4f5 100%);
      background-image: linear-gradient(135deg, #1184d1 0%, #00b4f5 100%);
      left: 0;
      bottom: 0; }
.page .content {
  position: absolute;
  left: 0;
  top: 25.6vw;
  top: 2.56rem;
  bottom: 0;
  overflow: hidden;
  width: 100%; }
  .page .content .con-item {
    position: relative; }
    .page .content .con-item .line {
      border-radius: 1.6vw;
      border-radius: 0.16rem;
      position: absolute;
      left: 6.4vw;
      left: 0.64rem;
      top: 4.2666666667vw;
      top: 0.4266666667rem;
      bottom: 4.2666666667vw;
      bottom: 0.4266666667rem;
      width: 3.2vw;
      width: 0.32rem; }
      .page .content .con-item .line.c1 {
        background-color: #270b86; }
      .page .content .con-item .line.c2 {
        background-color: #f3503f; }
      .page .content .con-item .line.c3 {
        background-color: #c30164; }
      .page .content .con-item .line.c4 {
        background-color: #2ea959; }
      .page .content .con-item .line.c5 {
        background-color: #ab27b1; }
      .page .content .con-item .line.c6 {
        background-color: #ab6834; }
      .page .content .con-item .line.c7 {
        background-color: #6eccd8; }
      .page .content .con-item .line.c8 {
        background-color: #9abd07; }
      .page .content .con-item .line.c9 {
        background-color: #e2a50f; }
      .page .content .con-item .line.c10 {
        background-color: #0a46b6; }
  .page .content .list {
    position: relative; }
    .page .content .list .item {
      font-size: 0;
      white-space: nowrap; }
      .page .content .list .item > * {
        display: inline-block;
        vertical-align: middle; }
      .page .content .list .item .left {
        width: 16vw;
        width: 1.6rem;
        text-align: center;
        line-height: 11.7333333333vw;
        line-height: 1.1733333333rem;
        height: 11.7333333333vw;
        height: 1.1733333333rem; }
        .page .content .list .item .left .radio {
          width: 2.1333333333vw;
          width: 0.2133333333rem;
          height: 2.1333333333vw;
          height: 0.2133333333rem;
          display: inline-block;
          border-radius: 100%;
          background: white; }
      .page .content .list .item .right {
        font-size: 0;
        height: 11.7333333333vw;
        height: 1.1733333333rem;
        width: 84vw;
        width: 8.4rem;
        line-height: 0vw;
        line-height: 0rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
        .page .content .list .item .right > * {
          vertical-align: top;
          display: inline-block; }
        .page .content .list .item .right .txt {
          font-size: 4.2666666667vw;
          font-size: 0.4266666667rem;
          font-weight: 400;
          color: #383a3d;
          display: inline-block;
          line-height: 5.8666666667vw;
          line-height: 0.5866666667rem;
          position: relative;
          top: 2.9333333333vw;
          top: 0.2933333333rem; }
        .page .content .list .item .right .icon {
          width: 6.4vw;
          width: 0.64rem;
          height: 6.4vw;
          height: 0.64rem;
          top: 2.6666666667vw;
          top: 0.2666666667rem;
          margin-left: 1.6vw;
          margin-left: 0.16rem;
          position: relative;
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat; }
        .page .content .list .item .right .child-right {
          float: right;
          font-size: 0;
          margin-right: 4.2666666667vw;
          margin-right: 0.4266666667rem;
          margin-top: 2.6666666667vw;
          margin-top: 0.2666666667rem; }
          .page .content .list .item .right .child-right .icon-r {
            vertical-align: middle;
            width: 6.4vw;
            width: 0.64rem;
            height: 6.4vw;
            height: 0.64rem;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 1.8666666667vw;
            margin-right: 0.1866666667rem; }
            .page .content .list .item .right .child-right .icon-r.i1 {
              background-image: url("icon/equipment-img-1.png"); }
            .page .content .list .item .right .child-right .icon-r.i2 {
              background-image: url("icon/equipment-img-2.png"); }
            .page .content .list .item .right .child-right .icon-r.i3 {
              background-image: url("icon/equipment-img-3.png"); }
            .page .content .list .item .right .child-right .icon-r.i4 {
              background-image: url("icon/equipment-img-4.png"); }
            .page .content .list .item .right .child-right .icon-r.i5 {
              background-image: url("icon/equipment-img-5.png"); }
            .page .content .list .item .right .child-right .icon-r.i6 {
              background-image: url("icon/equipment-img-6.png"); }
            .page .content .list .item .right .child-right .icon-r:last-child {
              margin-right: 0; }
          .page .content .list .item .right .child-right .num-icon {
            width: 6.4vw;
            width: 0.64rem;
            height: 6.4vw;
            height: 0.64rem;
            border-radius: 3.2vw;
            border-radius: 0.32rem;
            color: white;
            line-height: 6.4vw;
            line-height: 0.64rem;
            text-align: center;
            font-size: 4.2666666667vw;
            font-size: 0.4266666667rem;
            color: white;
            display: inline-block;
            vertical-align: middle; }
            .page .content .list .item .right .child-right .num-icon.c1 {
              background-color: #270b86; }
            .page .content .list .item .right .child-right .num-icon.c2 {
              background-color: #f3503f; }
            .page .content .list .item .right .child-right .num-icon.c3 {
              background-color: #c30164; }
            .page .content .list .item .right .child-right .num-icon.c4 {
              background-color: #2ea959; }
            .page .content .list .item .right .child-right .num-icon.c5 {
              background-color: #ab27b1; }
            .page .content .list .item .right .child-right .num-icon.c6 {
              background-color: #ab6834; }
            .page .content .list .item .right .child-right .num-icon.c7 {
              background-color: #6eccd8; }
            .page .content .list .item .right .child-right .num-icon.c8 {
              background-color: #9abd07; }
            .page .content .list .item .right .child-right .num-icon.c9 {
              background-color: #e2a50f; }
            .page .content .list .item .right .child-right .num-icon.c10 {
              background-color: #0a46b6; }
.page .history-search {
  top: 17.0666666667vw;
  top: 1.7066666667rem;
  position: absolute;
  bottom: 0;
  overflow: auto;
  width: 100%;
  background-color: white;
  z-index: 100;
  display: none; }
  .page .history-search .history-title {
    font-size: 3.7333333333vw;
    font-size: 0.3733333333rem;
    font-weight: 400;
    color: #b0b3b8;
    line-height: 5.3333333333vw;
    line-height: 0.5333333333rem;
    margin-top: 2.6666666667vw;
    margin-top: 0.2666666667rem;
    margin-bottom: 1.0666666667vw;
    margin-bottom: 0.1066666667rem;
    margin-left: 4.2666666667vw;
    margin-left: 0.4266666667rem; }
  .page .history-search .list .item {
    width: 95.7333333333vw;
    width: 9.5733333333rem;
    margin-left: 4.2666666667vw;
    margin-left: 0.4266666667rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    height: 11.7333333333vw;
    height: 1.1733333333rem;
    line-height: 0vw;
    line-height: 0rem; }
    .page .history-search .list .item .left {
      display: inline-block;
      font-size: 4.2666666667vw;
      font-size: 0.4266666667rem;
      font-weight: 400;
      color: #383a3d;
      line-height: 5.8666666667vw;
      line-height: 0.5866666667rem;
      position: relative;
      top: 2.9333333333vw;
      top: 0.2933333333rem; }
    .page .history-search .list .item .right {
      float: right;
      margin-right: 4.2666666667vw;
      margin-right: 0.4266666667rem;
      margin-top: 2.6666666667vw;
      margin-top: 0.2666666667rem;
      font-size: 0; }
      .page .history-search .list .item .right .num-icon {
        width: 6.4vw;
        width: 0.64rem;
        height: 6.4vw;
        height: 0.64rem;
        border-radius: 3.2vw;
        border-radius: 0.32rem;
        color: white;
        line-height: 6.4vw;
        line-height: 0.64rem;
        text-align: center;
        font-size: 4.2666666667vw;
        font-size: 0.4266666667rem;
        color: white;
        display: inline-block;
        vertical-align: middle; }
        .page .history-search .list .item .right .num-icon.c1 {
          background-color: #270b86; }
        .page .history-search .list .item .right .num-icon.c2 {
          background-color: #f3503f; }
        .page .history-search .list .item .right .num-icon.c3 {
          background-color: #c30164; }
        .page .history-search .list .item .right .num-icon.c4 {
          background-color: #2ea959; }
        .page .history-search .list .item .right .num-icon.c5 {
          background-color: #ab27b1; }
        .page .history-search .list .item .right .num-icon.c6 {
          background-color: #ab6834; }
        .page .history-search .list .item .right .num-icon.c7 {
          background-color: #6eccd8; }
        .page .history-search .list .item .right .num-icon.c8 {
          background-color: #9abd07; }
        .page .history-search .list .item .right .num-icon.c9 {
          background-color: #e2a50f; }
        .page .history-search .list .item .right .num-icon.c10 {
          background-color: #0a46b6; }
      .page .history-search .list .item .right .num-icon {
        margin-right: 1.0666666667vw;
        margin-right: 0.1066666667rem; }
        .page .history-search .list .item .right .num-icon:last-child {
          margin-right: 0; }
  .page .history-search.active .history-title {
    display: none; }
.page.active .history-search {
  display: inline-block; }
.page.active .header {
  text-align: left; }
  .page.active .header .back {
    display: none; }
  .page.active .header .search .input-box {
    margin-left: 4.2666666667vw;
    margin-left: 0.4266666667rem; }
    .page.active .header .search .input-box .input {
      width: 78.6666666667vw;
      width: 7.8666666667rem; }
  .page.active .header .search .cancel {
    display: inline-block; }
  .page.active .header .search .icon-close {
    display: none; }
    .page.active .header .search .icon-close.show {
      display: inline-block; }

.swiper-slide {
  overflow: auto; }

/*# sourceMappingURL=index.css.map */
