<!DOCTYPE html>
<html lang="en" style="width: 750px">
<head>
    <meta charset="UTF-8">
    <title>站点详情</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="referrer" content="always">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="email=no">
    <!--引入css-->
    <link rel="stylesheet" href="css/common/reset.css" />
    <link rel="stylesheet" href="lib/common/layer/layer.css" />
    <link rel="stylesheet" href="lib/common/swiper/swiper.min.css" />
    <link rel="stylesheet" href="css/station-details.css" />

    <!--引入js-->
    <script type="text/javascript" src="lib/common/rem.js"></script>
    <script type="text/javascript" src="lib/common/zepto.min.js"></script>
    <script type="text/javascript" src="lib/common/vue.min.js"></script>
    <script type="text/javascript" src="lib/common/hammer.min.js"></script>
    <script type="text/javascript" src="lib/common/swiper/swiper.min.js"></script>
    <script merge="1" type="text/javascript" src="lib/common/layer/layer.js"></script>
    <script type="text/javascript" src="lib/userDefine/userDefine.js"></script>

</head>
<body>
<div id="page1" class="page">
    <div class="header-box">
        <div class="img-box">
            <img src="img/details.png" class="img">
        </div>

        <div class="header-parent">
            <div class="header-top"></div>
            <div class="header">
                <div class="icon back c2"></div>
            </div>
        </div>
        <div class="content-top">
            <span class="txt" v-html="nowItem.station_name"></span>
            <span v-for="(item,index) of nowItem.belongCode" class="num-icon " :class="'c'+parseInt(item)+' '+((index>=1)?'':'m1')" v-html="parseInt(item)"></span>
            <span class="num-icon " :class="'c'+parseInt(nowItem.line_code)+' '+ (nowItem.belongCode.length?'':'m1')" v-html="parseInt(nowItem.line_code)"></span>
        </div>
    </div>

    <div class="content">
        <div class="model-1">
            <div id="swiper1Bar" class="header-nav">
                <div class="child active">
                    <div v-for="(item,index) of allLine" class="item" v-html="parseInt(item)+'号线'">

                    </div>

                    <div class="bar"></div>
                </div>
            </div>
            <div id="swiper1" class="swiper-container">
                <div class="swiper-wrapper">
                    <div v-for="(item,index) of allLine" class="swiper-slide">
                        <div class="time-box">
                            <div class="title-1">
                                <div class="left">
                                    往科学城
                                </div>
                                <div class="right">
                                    预计到达时间
                                </div>
                            </div>
                            <div class="title-2">
                                <div class="left">
                                    下一站 骡马市
                                </div>
                                <div class="right">
                                    <span class="txt1">2</span>
                                    <span class="txt2">分钟</span>
                                </div>
                            </div>
                            <div class="title-3">
                                <div class="left">
                                   <span class="span">终点站</span>
                                    <span class="span txt">韦家碾</span>
                                </div>
                                <div class="right">
                                    <span class="txt1">首</span>
                                    <span class="txt2">05:42</span>
                                    <span class="txt3">末</span>
                                    <span class="txt2">05:42</span>
                                </div>
                            </div>
                        </div>
                        <div class="time-box">
                            <div class="title-1">
                                <div class="left">
                                    往科学城
                                </div>
                                <div class="right">
                                    预计到达时间
                                </div>
                            </div>
                            <div class="title-2">
                                <div class="left">
                                    下一站 锦江宾馆
                                </div>
                                <div class="right">
                                    <span class="txt1">2</span>
                                    <span class="txt2">分钟</span>
                                </div>
                            </div>
                            <div class="title-3">
                                <div class="left">
                                    <span class="span">终点站</span>
                                    <span class="span txt">科学城</span>
                                </div>
                                <div class="right">
                                    <span class="txt1">首</span>
                                    <span class="txt2">05:42</span>
                                    <span class="txt3">末</span>
                                    <span class="txt2">05:42</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="model-2">
            <div class="title">
                限流信息
            </div>
            <div class="title-bottom">
                常态限流
            </div>
            <div class="model-2-con">
                08:00 - 09:00 （工作日）<br/>
                17:20 - 19:00 （工作日）
            </div>
            <div class="see-info">
                查看乘换引导
            </div>
        </div>
        <div class="model-3">
            <div class="header-nav">
                <div  id="swiper2Bar"  class="child active">
                    <div class="item">
                        站内设施
                    </div>
                    <div class="item">
                        出入口信息
                    </div>
                    <div class="bar"></div>
                </div>

            </div>
            <div class="content-info">
                <div id="swiper2" class="swiper-container" >
                    <div class="swiper-wrapper">
                        <div class="item swiper-slide">
                            <div class="img-box">
                                <img src="img/test1.png" class="img">
                            </div>
                            <div class="list-1">
                                <div v-if="nowItem.toilet_desc" class="item-list-1">
                                    <div class="item-list-1-title">
                                        <span class="list-1-icon i1"></span>
                                        <span class="list-1-txt">无障碍电梯</span>
                                    </div>
                                    <div class="item-list-1-con" v-html="nowItem.toilet_desc"></div>
                                </div>

                                <div v-if="nowItem.atm_desc" class="item-list-1">
                                    <div class="item-list-1-title">
                                        <span class="list-1-icon i2"></span>
                                        <span class="list-1-txt">自助取款机</span>
                                    </div>
                                    <div class="item-list-1-con" v-html="nowItem.atm_desc"></div>
                                </div>
                                <div v-if="nowItem.police_desc" class="item-list-1">
                                    <div class="item-list-1-title">
                                        <span class="list-1-icon i5"></span>
                                        <span class="list-1-txt">警务室</span>
                                    </div>
                                    <div class="item-list-1-con" v-html="nowItem.police_desc"></div>
                                </div>
                                <div v-if="nowItem.bom_desc" class="item-list-1">
                                    <div class="item-list-1-title">
                                        <span class="list-1-icon i4"></span>
                                        <span class="list-1-txt">客服中心</span>
                                    </div>
                                    <div class="item-list-1-con" v-html="nowItem.bom_desc"></div>
                                </div>

                                <div v-if="nowItem.tft_desc" class="item-list-1">
                                    <div class="item-list-1-title">
                                        <span class="list-1-icon i6"></span>
                                        <span class="list-1-txt">天府通</span>
                                    </div>
                                    <div class="item-list-1-con" v-html="nowItem.tft_desc"></div>
                                </div>
                            </div>
                            <div class="item-title-1">
                                商铺信息
                            </div>
                            <div class="item-title-bottom">
                                <div class="item-title-exit">
                                    <span class="txt1">A</span>
                                    <span class="txt2">口</span>
                                </div>
                                <div class="item-title-des">
                                    Ourhours全时、绝味鸭脖
                                </div>
                            </div>
                        </div>
                        <div class="item swiper-slide">
                            <div class="img-box">
                                <img src="img/ditu.png" class="img">
                            </div>
                            <div class="item-title-bottom mt10">
                                <div v-for="(item,index) of stationInfo.deviceInfo">
                                    <div class="item-title-exit mt10">
                                        <span class="txt1" v-html="item.gate"></span>
                                        <span class="txt2">口</span>
                                    </div>
                                    <div v-html="item.roads" class="item-title-des c2"></div>
                                </div>
                            </div>
                            <div class="item-bus">
                                <div v-for="(item,index) of stationInfo.busInfo">
                                    <div class="bus-title-line">
                                        <span class="txt1" v-html="item.busStationName"></span>
                                        <span class="txt2" v-html="item.busStationDistance+'m'"></span>
                                    </div>
                                    <div v-html="item.busLine" class="bus-content-line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="model-4">
            <span class="txt">
                意见反馈
            </span>
            <span class="icon"></span>
        </div>
        <div class="model-5">
            <div class="left">
                <div class="line"></div>
                <span class="txt">
                    从这里出发
                </span>
            </div>
            <div class="right">
                <span class="txt">
                    到这里去
                </span>
            </div>
        </div>
    </div>

</div>
<div id="page2" class="page p2">
    <div class="header-box">
        <div class="header-top"></div>
        <div class="header">
            <div class="icon back c2"></div>
            <div class="search">
                意见反馈
            </div>
        </div>
        <div class="head-title">
            天府广场站
        </div>
        <div  class="select-box">
            <div class="box">
                <span class="txt">我要建议</span>
                <span class="icon"></span>
            </div>

        </div>
    </div>

    <div class="content">
        <div class="textarea-box">
            <textarea placeholder="请输入内容..." class="textarea"></textarea>
        </div>
        <div class="bottom-btn">
            <div class="checked">
                <div class="input-checked">
                    <input v-model="isPhone" id="checked_1" type="checkbox" >
                    <label for="checked_1" class="views"></label>
                </div>
                <span class="txt">
                    不需要电话回复
                </span>
            </div>
            <div class="phone">
                <span class="txt">电话：</span>
                <input  type="text" class="input" value="15882466729">
            </div>
            <div class="btn">
                <span class="txt">提交</span>
            </div>
        </div>
    </div>

</div>
<script  type="text/javascript" src="js/station-details.js"></script>
</body>
</html>